PUBLIC_SITE_URL=https://cms.example.com

CMS_PG_DATABASE=studiocms
CMS_PG_USER=studiocms
CMS_PG_PASSWORD=change-me
CMS_PG_HOST=postgres
CMS_PG_PORT=5432

CMS_ENCRYPTION_KEY=change-me
STUDIOCMS_DB_START_PAGE=true
